@media (max-width: 428px){
    body ::-webkit-scrollbar{
        overflow: hidden;
    }
    main{
        background-color: #0F0F16;
        height: 100vh;
        width: 100%;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #DADADA;
        width: 100%;
        height: 10vh;
        font-size: 10px;
        position: fixed;
        z-index: 99;
    }
    nav img{
        width: 80px;
        margin-left: 25px;
    }
    .nav-list{
        position: absolute;
        top: 9vh;
        right: 0;
        width: 0vw;
        height: 92vh;
        background-color: rgb(26, 24, 24);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(150%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
        margin-right: 30px;
    }
    .mobile-menu div{
        width: 40px;
        height: 2px;
        background: rgb(23, 1, 146);
        margin: 10px;
    }
    .nav-list.active{
        transform: translateX(0);
    }
    /*===== Title =====*/
    main .title{
        position: absolute;
        width: 80%;
        height: 20vh;
        left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 250px;
        margin-right: 0px;
        font-family: 'IBM Plex Mono', monospace;
    
    }
    main .title h1{
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0;
        margin-right:  5px;
    }
    main .title h2{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2rem;
        margin-left: 20px;
        margin-top: 5px;
    }
    main .title h3{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.5rem;
        margin-right: 5px;
        margin-top: 5px;
    }
    main .title h4{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.9rem;
        margin-right: 5px;
        margin-top: 3px;
    
}
    /*===== Title =====*/
    main .imgbox{
        visibility: hidden;
        width: 0;
    }
    main .imgbox img{
        width: 0;
    }

/*===== Side menu =====*/

main .container .icons{
    width:10%;
    height: 50vh;
    margin-left: -3em;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    position: fixed;
    z-index: 999;
}

.ig{
    padding: 10px 0;
    font-size: 1.7rem;
    color: #ff0278;
    transition: 0.5s ease;
}
.link{
    padding: 10px 0;
    font-size: 1.7rem;
    color: #02a2ff;
    transition: 0.5s ease;
}
.git{
    padding: 10px 0;
    font-size: 1.7rem;
    color: #ffffff;
    transition: 0.5s ease;
}


#about {
    width: 100%;
    height: 150vh;
}
#about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    width: 180px; 
    height: 786px;
    border: 2px solid green;
    margin-left: 25%;
}
#about .container h1{
    color: #DADADA;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3em;
    letter-spacing: 2px;
}

#about .box-html ion-icon{
    color: #ff5e00;
    width: 169px;
    height: 162px;
    
}
#about .box-html .bar1{
    background-color: #fff;
    border-radius: 5px;
    width: 193px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-html .bar2{
    background-color: rgb(66, 255, 82);
    border-radius: 5px;
    width: 141px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-js ion-icon{
    color: #DBFF00;
    width: 169px;
    height: 162px;
}
#about .box-js .bar3{
    background-color: #fff;
    border-radius: 5px;
    width: 193px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-js .bar4{
    background-color: rgb(66, 255, 82);
    border-radius: 5px;
    width: 36px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-css ion-icon{
    color: #004DE2;
    width: 169px;
    height: 162px;
}
#about .box-css .bar5{
    background-color: #fff;
    border-radius: 5px;
    width: 193px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-css .bar6{
    background-color: rgb(66, 255, 82);
    border-radius: 5px;
    width: 120px;
    height: 14px;
    transform: translateZ(20px);
}





}


/*===== Side menu =====*/

