@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Oswald:wght@500&family=Outfit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    opacity: 0.7s;
}
/*====== Header menu ======*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DADADA;
    width: 100%;
    height: 12vh;
    font-size: 10px;
    position: fixed;
    z-index: 99;
}
nav img{
    width: 150px;
    height: 160px;
    margin-left: 25px;
}
main{
    background-color: #0F0F16;
    height: 100vh;
    width: 100%;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: 70px;
}
.nav-list a{
    letter-spacing: 3px;
    margin-left: 34px;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 40px;
    height: 2px;
    background: rgb(23, 1, 146);
    margin: 8px;
}

/*====== Header menu ======*/


/*====== Main Content ======*/

/*==== Side Menu ====*/
main .container .icons{
    width:10%;
    height: 80vh;
    margin-left: -2em;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
}

.ig{
    padding: 20px 0;
    font-size: 2.3rem;
    color: #fff;
    transition: 0.5s ease;
}
.link{
    padding: 20px 0;
    font-size: 2.3rem;
    color: #fff;
    transition: 0.5s ease;
}
.git{
    padding: 20px 0;
    font-size: 2.3rem;
    color: #fff;
    transition: 0.5s ease;
}
.ig:hover{
    color: #ff0278;
}
.git:hover{
    color: #535353b2;
}
.link:hover{
    color: #02a2ff;
}

/*==== Side Menu ====*/

main .imgbox{
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: 20px;
    width: 750px;
    height: 500px;
}
main .imgbox img{
    width: 750px;
    height: 500px;
}
main .title{
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 10px;
    top: 100px;
    font-family: 'IBM Plex Mono', monospace;
}
main .title h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin-right: 100px;
}
main .title h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 5rem;
    margin-right: 80px;
    margin-top: 20px;
}
main .title h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 4rem;
    margin-right: 180px;
    margin-top: 0;
}
main .title h4{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 1rem;
    margin-right: 180px;
    margin-top: 15;

}
/*====== Main Content ======*/

/*====== Section about ======*/
#about{
    width: 100%;
    height: 150vh;
    background-color: #0F0F16;
    display: flex;
    justify-content: center;
}
#about .info{
    width: 45rem;
    height: 450px;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}
#about .name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 50px;
    margin-top: 50px;
}
#about .name h1{
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    color: #fff;
}
#about .description{
    width: 40rem;
    height: 250px;
}
#about .description p{
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Russo One', sans-serif;
}
#about .titleStack{
    position: absolute;
    margin-top: 680px;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    color: #fff;
}
#about .image{
    overflow: hidden;
    position: absolute;
    width: 170px;
    height: 170px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 150px;
    box-shadow: 5px 1px 1px rgb(2, 31, 249);
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
#about .image:hover{
    box-shadow: none;
}
#about .image img{
    width: 170px;
    height: 170px;
}
#about .container{
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50%; 
    height: 200px;
    margin-top: 750px
}
#about .box-html, .box-css, .box-js{
    width: 10rem;
    height: 10rem;     
}

#about .box-html, .box-css, .box-js{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
#about .container p{
    color: #DADADA;
    transform: translateZ(20px);
}
#about .container h1{
    color: #DADADA;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
}
#about .box-html ion-icon{
    color: #ff5e00;
    width: 169px;
    height: 162px;
    
}
#about .box-html .bar1{
    background-color: #fff;
    border-radius: 5px;
    width: 193px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-html .bar2{
    background-color: rgb(66, 255, 82);
    border-radius: 5px;
    width: 141px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-js ion-icon{
    color: #DBFF00;
    width: 169px;
    height: 162px;
}
#about .box-js .bar3{
    background-color: #fff;
    border-radius: 5px;
    width: 193px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-js .bar4{
    background-color: rgb(66, 255, 82);
    border-radius: 5px;
    width: 36px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-css ion-icon{
    color: #004DE2;
    width: 169px;
    height: 162px;
}
#about .box-css .bar5{
    background-color: #fff;
    border-radius: 5px;
    width: 193px;
    height: 14px;
    transform: translateZ(20px);
}
#about .box-css .bar6{
    background-color: rgb(66, 255, 82);
    border-radius: 5px;
    width: 120px;
    height: 14px;
    transform: translateZ(20px);
}
/*====== Section about ======*/

/*====== Projects Content ======*/

#projects{
    width: 100%;
    height: 120vh;
    background-color: #0F0F16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 25px;
}
#projects .title{
    width: 260px;
    height: 50px;
    margin-right: 900px;
    margin-top: 60px;
}
#projects .title h1{
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3.4rem;
    color: #DADADA;
}
#projects .container1{
    width: 90%;
    height: 400px;
    background-color: #b8b8b8;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#projects .project01, .project02, .project03{
    width: 450px;
    height: 300px;
    border-radius: 5px;
    border: 3px solid rgb(77, 50, 229);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;  
}
#projects .project01 img{
    width: 450px;
    height: 300px;
}
#projects .project02 img{
    width: 450px;
    height: 300px;
}
#projects .project03 img{
    width: 450px;
    height: 300px;
}
#projects .button01, .button02, .button03{
    position: absolute;
    width: 110px;
    height: 30px;
    margin-top: 25px;
    background-color: #dfdede;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(50px);
}
#projects .container2{
    width: 80%;
    height: 318px;
    background-color: #b8b8b8;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#projects .project04, .project05, .project06{
    width: 400px;
    height: 300px;
    border: 2px solid rgb(61, 51, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#projects.project04, .project05, .project06, img{
    width: 400px;
    height: 300px;
}
#projects .soon{
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #0f0f16de;
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects .soon h1{
    text-transform: uppercase;
    color: rgb(219, 219, 219);
}
/*
.button04, .button05, .button06{
    width: 130px;
    height: 40px;
    margin-bottom: 15px;
    background-color: #02a2ff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/